Automat>=0.3.0
Django==2.2.27
PySide2==5.11.2
Twisted>=18.7
asgiref~=3.2
async-timeout==3.0.1
asyncqt==0.8.0
attrs>=19.2.0
autobahn==18.10.1
channels==2.4.0
channels-redis==6.0.3
click==7.1.2
daphne~=2.3
hyperlink>=17.1.1
pip-tools==5.1.2
pyopenssl>=16.0.0
psycopg2-binary==2.7.5
pytz==2018.7
pytz==2020.1
service-identity>=18.1.0
six==1.11.0
soupsieve==1.9.1
sqlparse==0.3.1
txaio>=18.8.1
virtualenv==16.6.0
whitenoise==5.1.0
zope.interface>=4.4.2
